@font-face {
    font-family: 'Bai Jamjuree', sans-serif;
    src: url('../webfonts/BaiJamjuree-Regular.ttf') format('ttf');
    src: url('../webfonts/BaiJamjuree-SemiBold.ttf') format('ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --main-Color: hsl(171, 66%, 44%);
    --second-Color: hsl(233, 100%, 69%);
    --first-Neutral: hsl(210, 10%, 33%);
    --second-Neutral: hsl(201, 11%, 66%);
    --main-FontSize: 18px;
    --main-Padding:15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    margin: 0 auto;
    text-align: center;
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: cover;
}

@media (max-width: 375px) {
    header {
        background: url(../images/bg-header-mobile.png) no-repeat;
    }
}

header .container {
    margin: inherit;
    padding: 0 var(--main-Padding);
}

header div > div {
    line-height: 250px;
    font-size: 150px;
    font-family: sans-serif;
    color: var(--main-Color);
    position: relative;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
}

header h1 {
    font-size: 2.1em;
    margin: 1em 0 0;
    text-align: center;
}

header p {
    text-align: center;
    line-height: 1.6;
    color: var(--second-Neutral);
}

@media (max-width: 651.5px) {
    header p {
        padding: 0px 15px;
    }
}

@media (min-width: 652px) {
    header p {
        padding: 0px 72px;
    }
}

@media (min-width: 768px) {
    header p {
        padding: 0px 86px;
    }
}

@media (min-width: 992px) {
    header p {
        padding: 0px 200px;
    }
}

@media (min-width: 1200px) {
    header p {
        padding: 0px 300px;
    }
}

nav {
    margin: 40px auto;
    text-align: center;
}

nav .container {
    margin: inherit;
    padding: 0 var(--main-Padding);
}

button {
    color: #fff;
    border: none;
    margin: 10px 20px !important;
    width: 200px;
    height: 50px;
    padding: 5px 20px;
    word-spacing: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 375px) {
    button {
        margin: 15px 0;
        width: 90%;
        height: 60px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
}

.bttn-1 {
    background-color: var(--main-Color);
    box-shadow: 0px 10px 30px 0px var(--main-Color);
}

.bttn-1:hover{
    box-shadow: 0px 0px 10px 0px var(--main-Color);
}

.bttn-2 {
    background-color: var(--second-Color);
    box-shadow: 0px 10px 30px 0px var(--second-Color);
}

.bttn-2:hover {
    box-shadow: 0px 0px 10px 0px var(--second-Color);
}

main .container {
    margin: 40px auto;
    text-align: center;
    padding: 0 var(--main-Padding);
}

main h2 {
    text-align: center;
}

main h2 + p {
    text-align: center;
    line-height: 1.6;
    color: var(--second-Neutral);
}

@media (max-width: 651.5) {
    main h2 + p {
        padding: 0px 35px;
    }
}

@media (min-width: 652px) {
    main h2 + p{
        padding: 0px 72px;
    }
}
@media (min-width: 768px) {
    main h2 + p {
        padding: 0px 86px;
    }
}

@media (min-width: 992px) {
    main h2 + p {
        padding: 0px 200px;
    }
}

@media (min-width: 1200px) {
    main h2 + p {
        padding: 0px 275px;
    }
}

main .features-box {
    display: flex;
    direction: rtl;
}

main .features {
    text-align: start;
    direction: ltr;
}

main .features h3 {
    margin-top: 60px;
}

main .features h3 + p {
    line-height: 1.8;
}

@media (max-width: 991.5px) {
    main .features-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    main .features {
        text-align: center;
        padding: 0 35px;
    }

    main h3 + p {
        color: var(--second-Neutral);
    }

    main .features-box img {
    width: 325px;
    margin-top: 60px;
    }
}

@media (min-width: 992px) {
    main .features-box {
        display: flex;
        flex-direction: row;
        direction: rtl;
    }

    main .features {
        text-align: start;
        direction: ltr;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
    }

    main .features h3 {
        margin-top: 60px;
    }

    main .features-box img{
        width: initial;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
    }
}

.sec-2 {
    margin-top: 125px;
    text-align: center;
}

.sec-2 h2 {
    margin-top: 40px;
    font-weight: 600;
}

.sec-2 img {
    margin-top: 50px;
}

@media (max-width: 991.5px) {
    .sec-2 {
        margin-top: 145px;
    }

    .sec-2 h2 {
        padding: 0px 88px;
    }

    .sec-2 h2 + p {
        margin-top: 20PX;
    }

    .sec-2 img {
    width: 350px;
    }
}

@media (min-width: 992px) {
    .sec-2 {
        margin-top: 125px;
    }

    .sec-2 h2 + p {
        margin-top: 20PX;
        padding: 0px 400px;
    }
}

@media (max-width: 991.5px) {
    .sec-3 .tools {
        margin-top: inherit;
        display: flex;
        flex-direction: column;
    }

    .sec-3 .tools div {
        margin-top: 80px;
    }

    .sec-4 .partners {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sec-4 .partners div {
        margin-top: 80px;
    }
}

@media (min-width: 992px) {
    .sec-3 .container {
        margin: 80px auto 120px;
        text-align: center;
    }

    .sec-3 .tools {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sec-3 .tools div {
        width: 30%;
    }

    .sec-4 .partners {
        flex-direction: row;
        margin: 40px auto 120px;
    }

    .sec-4 .partners div {
        width: 15%;
    }

    .sec-4 .download {
        margin-bottom: 80px;
    }

.sec-4 .download .container {
    padding: 0 var(--main-Padding);
    }
}

footer {
    width: 100%;
    background-color: hsl(220, 18%, 97%);
}

footer .container {
    padding: 0 var(--main-Padding);
    display: flex;
}

footer .container .logo{
    color: var(--main-Color);
    font-size: 75px;
    font-family: sans-serif;
}

footer .links a {
    text-decoration: none;
    color:#000;
    width: calc(90% / 3);
}

footer .links a:visited {
    color: #000;
}

footer .links a:hover {
    color: var(--main-Color);
}

footer .social-icons {
    display: flex;
    align-items: center;
}

footer i {
    font-size: 25px;
    color: var(--first-Neutral);
}

footer i:hover {
    color: var(--main-Color);
    cursor: pointer;
}

footer .attribution {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    word-spacing: 3px;
}

@media (max-width: 991.5px) {
    footer {
        height: 400px;
    }

    footer .container {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    footer .links {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    footer .social-icons {
        width: 50%;
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) {
    footer {
        width: 100%;
        height: 150px;
        background-color: hsl(220, 18%, 97%);
    }

    footer .container {
        margin: 0px auto;
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    footer .links {
        width: 50%;
        display: flex;
        flex-direction: initial;
        flex-wrap: wrap;
        align-content: space-around;
    }

    footer .social-icons {
        width: 10%;
        justify-content: space-between;
    }
}

::selection {
    color: #fff;
    background-color: var(--second-Color);
}

h1:hover,
h2:hover,
h3:hover {
    cursor: default;
}

h1:hover {
    color: var(--main-Color);
}

h2:hover {
    color: var(--second-Color);
}

h3:hover {
    color: #e91e63;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
